build/
*.o
*.ko
*.mod
*.cmd
*.order
*.so

disk.*
*.tfs
*.tundra

run.log

tundra_fs
mkfs_tundra
tundra_fsck
tundra_fuse
stress_test
tundra_stress

# backups & scratch files
*.bak
*.bak_*
*.mod.c
Module.symvers
.apl.history
CMakeCache.txt
CMakeFiles/
